body {
	color: #333333; 
	background: #EAEAE2 url(images/bg_grad.gif) repeat-x;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	font-size: 13px;
	text-align: left;
}

body, div, span, ul, li {
	margin:0;
	padding:0;
}

a:link {
	color:#1E4470;
	text-decoration:none;
}

a:visited {
	color:#1E4470;
	text-decoration:none;
}

a:hover {
	color:#1E4470;
	text-decoration:underline;
}

a:active {
	color:#1E4470;
	text-decoration:underline;
}

h1 {
	font: bold 1.6em;
	color: #333333;
	margin:0 0 7px 0;
}

h2 {
	font: bold 1.4em;
	color: #333333;
	margin: 0;
}

h3 {
	font: bold 1.1em;
	color: #333333;
	margin: 0;
}

h4 {
	font: bold 1.0em;
	color: #333333;
	margin: 0;
}

.form-submit { 
	border-color: #9CACBC #443A58 #443A58 #9CACBC;
	border-style: solid;
	border-width: 1px;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 11px;
	font-weight: normal;
	padding: 1px 5px;
	background-color: #446285;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	text-align: center;
	vertical-align: middle;
}

.form-text, .form-file, .form-select, .form-text-search {
	border: 1px solid #CCCCCC;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	vertical-align: middle;
	font-size: 10px;
}

#search-theme-form #search .form-text {
	background: white url(images/search.gif) no-repeat scroll 3px 4px;
	padding-left: 17px;
	border-color: #8EA0B1;
	font-size: 11px;
	height: 16px;
	width: 150px;
	vertical-align: middle;
}

#search-theme-form #search .form-submit {
	display: none;
}

.form-textarea {
	font-size:12px;
}

#header_bar {
	background: #1E4470;
}

#header_logo {
	display: block;
	height: 47px; 
	width: 980px;
	margin: 0px auto;
}

#header_logo h1, #header_logo h2 {
	color: #FFFFFF;
	float: left;
	padding: 0px;
	margin: 10px 0px 0px 10px;
	font-size: 26px;
}

#header_logo h1 a, #header_logo h2 a {
	color: #FFFFFF;
	text-decoration:none;
}

#header_logo h2 {
	/*margin: 15px 0px 0px 10px;*/
	font-weight: lighter;
}

#navigator {
	height: auto;
	line-height: auto;
	padding: 0px;
	margin: 4px 0px 0px; 
	border-bottom: solid 1px #9A9A7B;
	background: #FEFEFC;
}

#navigator div.center_box {
	width: 980px;
	margin: 0px auto;
}
  
#navigator ul {
	float: left;
	padding: 0px 1px;
	list-style-type: none;
}

#navigator li {
	float: left;
	line-height: 15px;
	padding: 7px 0px 7px 1px;
	font-size: 13px;
	font-weight: bold;
	background: url(images/nav_div.gif) no-repeat left center;
}

#navigator li a {
	line-height: 15px;
	color: #446285;
	padding: 11px 10px 6px 10px;
}

#navigator li.first {
	background: none;
}

#navigator li.active a {
	background: white url(images/nav_act.gif) repeat-x;
	padding-top: -4px;
}

.middle-container {
	width: 980px;
	margin: 10px auto 8px;
	padding: 0px;
	border: 1px solid #9A9A7B;
}

.content_header {
	background: #DBE3E7;
	height: 35px;
	margin: 0px auto 0px auto;
	width: 970px;
	padding: 0 10px 0 0;
}

.content_header h1 {
	color: #446285;
	margin: 8px 0px 0px 10px;
	text-decoration:none;
	font-size:14px;
}

.header_image {
	float: left;
	height: 35px;
	padding: 0;
	margin: 0;
}

.search_box {
	float: right;
	margin: 7px 0pt 0pt;
	padding: 0pt;
}

.content_pad {
	background: #FFFFFF;
	width: 980px;
	padding: 0;
	margin: 0px auto 0px auto;
	height: 10px;
}

.content_bg {
	background:#FFFFFF;
	margin: 0 auto;
	padding: 0px;
	width: 980px;
	float: left;
}

.content_bg .side_nav {
	background:#F7F7F5;
	float: left;
	margin: 0px;
	padding: 10px;
	width: 220px;
}

.side_nav .block {
	margin-bottom: 16px;
	border-bottom:1px solid #E0E0D5;
}

.block .block-header h3{
	background:#D7E0EE none repeat scroll 0%;
	border-top:1px solid #133987;
	margin:0px;
	padding:2px 8px;
	font-size: 1.0em;
}

.block .block-content {
	padding-left: 5px;
	padding-top: 2px;
}

#side_nav ul.menu {
	margin: 0.35em 0 0 -0.5em;
	padding: 0;
}

#side_nav ul.menu ul {
	margin-left: 0em;
}

#side_nav ul li, ul.menu li, li.leaf, ul.tips li, .item-list ul li {
	margin: 0.15em 0 0.15em .5em;
	padding: 0 0 .2em 1.5em;
	list-style-type: none;
	list-style-image: none;
	background: transparent url(images/menu-leaf.gif) no-repeat 1px .35em;
}

#side_nav ul li.expanded, ul.menu li.expanded {
	background: transparent url(images/menu-expanded.gif) no-repeat 1px .35em;
}

#side_nav ul li.collapsed, ul.menu li.collapsed {
	background: transparent url(images/menu-collapsed.gif) no-repeat 0px .35em;
}

#side_nav ul li.leaf a, ul li.expanded a, ul li.collapsed a {
	display: block;
}

#side_nav ul.inline li {
	background: none;
	margin: 0;
	padding: 0 1em 0 0;
}

#user-login-form .item-list {
	text-align: left;
}

.content_global {
	float: left;
	background:#FFFFFF;
	padding: 0px;
	margin: 0px;
	width: 740px;
}

.content_global .bread_crumbs, .content_global .mission {
	padding: 0px 0px 10px 30px;
	border-bottom: 1px solid #E0E0D5;
}

.content_global .mission .mission-content {
	margin: 0 10px 0 -20px;
	padding: 10px;
	border: 1px solid #ddd;
	background: #f7f7f7;
}

.content_global .content_main {
	float: left;
	background: #fff;
	margin: 0px;
	padding: 20px 30px;
	width: 680px;
}

.messages, .search-results strong {
	background:#FFF8CC none repeat scroll 0%;
	border-bottom:1px solid #FFE222;
	margin:0px;
	padding:0px 0px 1px;
}

.node .submitted {
	color: gray;
}

.book-navigation .menu {
	border-top:1px solid #ddd;
}

.book-navigation .page-links {
	border-bottom:1px solid #ddd;
	border-top:1px solid #ddd;
	margin-top:10px;
}

.content ul li, .messages ul li {
	margin: 0.15em 0 0.15em .5em;
	padding: 0 0 .2em 1.5em;
	list-style-type: none;
	list-style-image: none;
	background: transparent url(images/menu-leaf.gif) no-repeat 1px .35em;
}

.node {
	margin-bottom:15px;
}

.node .content {
	padding-bottom:10px;
	margin-bottom:10px;
}

.sticky {
	padding: 8px;
	border: 1px solid #ddd;
	background: #f7f7f7;
}

.node .title a {
	text-decoration:none;
	font-size: 0.8em;
}

.content blockquote {
	border : 1px solid #E0E0D5;
	margin: 0px;
	padding: 0px 5px 0px 5px;
	background-color: #F7F7F5;
}

.node .taxonomy-header {
	background:#D7E0EE none repeat scroll 0%;
	border-top:1px solid #133987;
	margin:0px;
	padding:2px 8px;
}

.node .taxonomy {
	background:#EEEEEE none repeat scroll 0%;
	border-top:1px solid #CCCCCC;
	color:#133987;
	font-size:12px;
	margin:0 0 15px 0;
	padding:2px 8px;
}

.node .links-header {
	background:#D7E0EE none repeat scroll 0%;
	border-top:1px solid #133987;
	margin:0px;
	padding:2px 8px;
}

.node .links {
	background:#EEEEEE none repeat scroll 0%;
	border-top:1px solid #CCCCCC;
	font-size:12px;
	margin:0 0 15px 0;
	padding:2px 8px;
}

.picture{
	float:right;
	margin:24px 0 4px 5px;
}

.picture img{
	float:none;
	margin:0 0 -8px 5px;
	padding:0px;
	border:0px solid #ccc;
}

.comment-header {
	background:#D7E0EE none repeat scroll 0%;
	border-top:1px solid #133987;
	margin:0px;
	padding:2px 8px;
}

#comments .box h2.title {
	display:none;
}

.comment {
	margin-bottom:20px;
}

.comment .submitted {
	background-color:#EEEEEE;
	border-bottom:1px solid #DDDDDD;
	border-top:1px solid #133987;
	margin-bottom:3px;
	padding:3px 5px;
}

.comment .submitted .new {
	color:red;
}

.comment .content {
	padding:0px 5px;
}

.comment .links_box{
	border-bottom:1px solid #DDDDDD;
	padding:3px 5px;
}

.pager {
	margin-top:10px;
	margin-bottom:10px;
}

.pager a, .pager strong.pager-current {
	padding:0 0.5em 0 0.5em;
}

.pager a:hover {
	background:#1E4470 none repeat scroll 0%;
	color:#FFFFFF;
	text-decoration:none;
	border-top:2px solid #1E4470;
}

.pager strong.pager-current {
	border-bottom-color:#FFFFFF;
	border-top:2px solid #1E4470;
}

#tabs-pri, #tabs-sec {
	background-color: #B7C2C1;
}

#tabs-pri ul,.tabs-pri ul.primary, #tabs-sec ul,.tabs-pri ul.primary {
	padding: 5px 0 0 15px;
	margin: 0;
	list-style: none;
	border-bottom: none;
	border-collapse: none;
}

#tabs-pri li, ul.primary li a, #tabs-sec li, ul.primary li a  {
	padding: 3px 10px 2px 10px;
	display: block;
	float: left;
	background-color: #DBE3E7;
	margin: 0 2px 0 0;
	font-size: 13px;
	list-style: none ;
	border-style: none;
}

#tabs-pri li a:hover, #tabs-sec li a:hover {
	text-decoration:none;
}

#tabs-pri li.active, #tabs-sec li.active {
	background-color: #FFFFFF;
	text-decoration:none;
}

#tabs-pri li.active a, #tabs-sec li.active a {
	color: #000000;
}

#tabs-pri li.active a:hover, #tabs-sec li.active a:hover {
	color: #000000;
	text-decoration:none;
}

#tabs-sec ul,.tabs-pri ul.primary {
	padding: 0px 0 0 15px;
}

#tabs-sec li, ul.primary li a  {
	padding: 3px 5px 2px 5px;
	font-size: 10px;
}

#footer {
	border-top: solid 1px #9A9A7B;
	border-bottom: solid 1px #9A9A7B;
	background: #FEFEFC;
}

#footer_content {
	width: 960px;
	margin: 6px auto;
	height: 26px;
}

#footer_content .left {
	float: left;
	margin: 6px auto;
}

#footer_content .right {
	float: right;
	margin: 6px auto;
}

.clearfix:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}

.clearfix {
	clear:both; display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}